{% extends 'base.html' %}

  {%block title%} {{title}} {%endblock%}

    {%block content%}

        <div class= "container float-left">
            <h1 class="pt-2">Account Overview</h1>
            <p id="{{ account.AccountNumber }}">{{ account.accountName }} | Acc Number: {{ account.accountNumber }} | Acc Desc: {{ account.accountDesc }} | 
                Normal Side: {{ account.normalSide }} | Category: {{ account.category }} | Subcategory: {{ account.subcategory }} | Balance: ${{ account.balance }} | 
                Creation Date: {{ account.accountCreationDate }} | Acc Order: {{ account.accountOrder }} | Statement: {{ account.statement }} |
                Comment: {{ account.comment }} | Active: {{ account.isActive }}</p>
            <h1 class="pt-2">Events</h1>
            {% if events != None %}
                {% for event in events %}
                    <p>EventID: {{ event.EventID }} | SessionUserID: {{ event.SessionUserID }} | Event: {{ event.Event }} | EventID: {{ event.EventID }} | Timestamp: {{ event.Timestamp }}</p>
                {% endfor %}
            {% endif %}
        </div>

    {%endblock%}

    {%block script%}
    {%endblock%}