<!doctype html>
<html lang="en">
  <head>
    {%block header%}
    <title>{% block title %}{%endblock%} - AppDomain</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css')}}"/>
    <script src="https://kit.fontawesome.com/1e2d487faa.js" crossorigin="anonymous"></script>
    {% endblock %}
  </head>

  <body>
    <!-- navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">

        <img class="pl=0 pr-3" src="{{ url_for('static', filename='logoBlack.png') }}" alt="User Logo" height="80px"/> 

        <a class="navbar-brand" href="/users/{{ sessionUser.id }}">
          <img src="{{ g.user.avatarlink }}" alt="User Logo" />
          <a class="" href="/users/{{ sessionUser.id }}" style="color:white;">{{g.user.username}}</a>&emsp;
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="navbar-nav">
            
            <a class="nav-link" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="/users/{{ sessionUser.id }}">Profile</a>
            <a class="nav-link" href="/users">Users</a>
            <a class="nav-link" href="/accounts/create">Open Account</a>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/accounts">Chart of Accounts</a>
                <a class="dropdown-item" href="/events">Event Log</a>
                <a class="dropdown-item" href="#">Ledger</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Future Services</a>
              </div>
            </li>
            
            <a class="nav-link" href="/sign_out">Sign-Out</a>&emsp;

            {% if sessionUser.usertype == 'administrator' %}
            <span class="navbar-text">Admin:</span>
            <a class="nav-link" href="/users/expired_passwords">Expired Passwords</a>
            <a class="nav-link" href="/add-user">Create User</a>
            <a class="nav-link" href="/user-mail">System Email</a>
            {% endif %}

            {% if sessionUser.usertype == 'manager' %}
            <span class="navbar-text">Manager:</span>
            <a class="nav-link" href="/user-mail">System Email</a>
            {% endif %}

            {% if sessionUser.usertype == 'regular_user' %}
            <span class="navbar-text">Accountant:</span>
            <a class="nav-link" href="/user-mail">System Email</a>
            {% endif %}

            <h3 id="helpIcon" data-toggle="modal" data-target="#myModal">&nbsp;&nbsp;&nbsp;<img src ={{ url_for('static', filename='question-square.svg') }} data-placement="right" title="Help"></h3>
             <!-- Modal of Help Icon -->
              <div class="modal fade modal-lg" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog" id="helpIconModal">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Help</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" id="modal-body1">
                      
                      <div class="accordion" id="helpAccordion">
                        <div class="card">
                          <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Administrator Functions
                              </button>
                            </h5>
                          </div>
                      
                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                              <p>As an administrator you will have access to special funcitons, which include:</p>
                              <p> <b>Create users: </b> By selecting "create user", located in the navbar, an administrator can create a new user to be stored in the system.</p>
                              <p> <b>Show expired password user list: </b> By selecting "Expired Passwords", located in the navbar, an administrator can see a list of users with expired passwords.</p>
                              <p> <b>Admin mail: </b> By selecting "Admin mail", located in the navbar, an administrator can send emails to all users or a select user that exists in the system. To send an email to all users, enter the keyword "all".</p>
                              <p> <b>Edit users: </b> Administrators can modify user information stored in the system. The option to edit users is located in the profile page of the website, and will be found above the user profile avatar in the profile page. </p>
                              <p> <b>Add, view, edit, and deactivate accounts: </b> Administrators can modify and create accounts for users in the system. An administrator can open an account by selecting "open account" in the navbar, where the admin can input the necessary information  </p>
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Regular User Functions
                              </button>
                            </h5>
                          </div>
                          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                              <p> <b>View Profile: </b> To view your user profile you can either click on your username, profile avatar, and/or the profile link in the navbar.</p>
                              <p> <b>Update password: </b> To change your password navigate to your profile page and select "edit profile". Next, select "edit password" and enter the approiate requested information.</p>
                              <p> <b>Open Account: </b> By selecting "open account", located in the navbar, any user will be able to open an account in their name.</p>
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Accountant & Manager Functions
                              </button>
                            </h5>
                          </div>
                          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                              <p> <b>Access to administator funcitons</b>Accountants and Managers will be able to perform the same functions as an administrator excluding adding, editing, and deactivating accounts.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer text-center d-block">
                      <button type="button" class="btn btn-primary float-center" data-dismiss="modal">Close</button>
                    </div>
                </div>
              </div>
      </div>
              <!--End of Help Icon Modal-->
    </nav>
    
    <!--Will display hello, word if content block is not overwritten in child template-->
    {%block content%}
    <h1>hello, world!</h1>
    {% endblock %}  

  </body>
  <!--Bootstrap Javascript -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
  
  {%block script%}
  <!--Scripts from child templates-->
  {%endblock%}
  
</html>