{% extends 'base.html' %}

  {%block title%} {{title}} {%endblock%}

    {%block content%}

    <div class="container-fluid ml-1 mb-3 mt-3">
        <table class="table table-striped table-bordered mydatatable" style="width: 100%">
            <thead>
                <tr>
                    <th colspan="1" rowspan="2"> ID</th>
                    <th colspan="6"> Account Details</th>
                    <th colspan="6"> Account Status</th>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Description</th>
                    <th>Normal Side</th>
                    <th>Category</th>
                    <th>Subcategory</th>
                    <th>Balance</th>
                    <th>Creation Date</th>
                    <th>AccountOrder</th>
                    <th>Statement</th>
                    <th>Comment</th>
                    <th>Active Status</th>
                    
                </tr>
            </thead>

            <tbody>
            {% for account in accounts %}
                <tr>
                    <td>{{ account.id }}</td>
                    <td>{{ account.AccountName}}</td>
                    <td>{{ account.AccountNumber}}</td>
                    <td>{{ account.AccountDesc }}</td>
                    <td>{{ account.NormalSide }}</td>
                    <td>{{ account.Category }}</td>
                    <td>{{ account.subCategory }}</td>
                    <td>${{ account.Balance }}</td>
                    <td>{{ account.AccountCreationDate }}</td>
                    <td>{{ account.AccountOrder }}</td>
                    <td>{{ account.Comment }}</td>
                    <td>{{ account.Comment }}</td>
                    <td>{{ account.IsActive }}</td>
                </tr>
            {% endfor %}
            </tbody>

            <tfoot>
                <th>Id</th>
                <th>Name</th>
                <th>Number</th>
                <th>Description</th>
                <th>Normal Side</th>
                <th>Category</th>
                <th>Subcategory</th>
                <th>Balance</th>
                <th>Creation Date</th>
                <th>AccountOrder</th>
                <th>Statement</th>
                <th>Comment</th>
                <th>Active Status</th>
            </tfoot>
        </table>
    </div>
    {%endblock%}


    {%block script%}
    <script>
        $('.mydatatable').DataTable({
            order: [[3,'desc']],
            pagingType: 'full_numbers'
        });
    </script>

    {%endblock%}