{% extends 'base.html' %}

  {%block title%} {{title}} {%endblock%}

    {%block content%}

        <div class= "container float-left">
            <h1>Open Account</h1>
            <form id="AccountCreationForm" action="" method="POST">
                {% if sessionUser.usertype == 'administrator' %}
                <p>
                    {{ form.accountHolderUsername.label }}<br>
                    {{ form.accountHolderUsername(size=16) }}<br>
                </p>
                {% endif %}
                <p>
                    {{ form.accountName.label }}<br>
                    {{ form.accountName(size=16) }}<br>
                </p>
                <p>
                    {{ form.accountDesc.label }}<br>
                    {{ form.accountDesc(size=16) }}<br>
                </p>
                <p>
                    {{ form.normalSide.label }}<br>
                    {{ form.normalSide(size=16) }}<br>
                </p>
                <p>
                    {{ form.category.label }}<br>
                    {{ form.category }}<br>
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
    
<!--open account script-->

{%endblock%}

{%block script%}
    <!-- Account Creation Script-->>
    <script type=text/javascript src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script id = "AccountCreationForm">
    $('#AccountCreationForm').submit(function(e){
        e.preventDefault();
        var form_tag = document.getElementById("AccountCreationForm")
        $.ajax({
            url: '{{ api }}/accounts/create/{{ sessionUser.username }}',
            type: 'post',
            data:$('#AccountCreationForm').serialize(),
            success: window.setTimeout(
                function(){
                    alert('Account Created!')
                    window.location.href = "/";
                })
        });
    });
    </script>
{%endblock%}

 
 
 