{% if user.usertype == 'administrator' %}

{% extends 'base.html' %}

  {%block title%} {{title}} {%endblock%}

    {%block content%}
    <div class= "container float-left">
        <h1>Enter new user data:</h1>
        <form id="UserCreationForm" action="" method="POST">
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=16) }}<br>
            </p>
            <p>
                {{ form.usertype.label }}<br>
                {{ form.usertype }}<br>
            </p>
            <p>
                {{ form.firstname.label }}<br>
                {{ form.firstname(size=16) }}<br>
            </p>
            <p>
                {{ form.lastname.label }}<br>
                {{ form.lastname(size=16) }}<br>
            </p>
            <p>
                {{ form.avatarlink.label }}<br>
                {{ form.avatarlink(size=16) }}<br>
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>

        <script type=text/javascript src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script id = "UserCreationScript" data-search={{ api }}>
            var script_tag = document.getElementById("UserCreationScript")
            var api_url = script_tag.getAttribute("data-search")
            $('#UserCreationForm').submit(function(e){
                e.preventDefault();
                $.ajax({
                    url: api_url + '/users/create-user',
                    type: 'post',
                    data:$('#UserCreationForm').serialize(),
                    success: window.setTimeout(function(){
                        alert('User Created!')
                        window.location.href = "{{ url }}/users";
                    })
                });
            });
        </script>

{%endblock%}

{% else %}
    <html>You are not authorized to create a user.</html>
{% endif %}