{% extends 'base.html' %}

  {%block title%} {{title}} {%endblock%}

    {%block content%}

        <div class= "container float-left">
            <h1 class="pt-2">Create Journal Entry</h1>
            <form id="JournalEntryForm" action="" method="POST">
                <p>
                    {{ form.SourceAccountNumber.label }}<br>
                    {{ form.SourceAccountNumber(size=16) }}<br>
                </p>
                <p>
                    {{ form.DestAccountNumber.label }}<br>
                    {{ form.DestAccountNumber(size=16) }}<br>
                </p>
                <p>
                    {{ form.Debits.label }}<br>
                    {{ form.Debits(size=16) }}<br>
                </p>
                <p>
                    {{ form.Credits.label }}<br>
                    {{ form.Credits(size=16) }}<br>
                </p>
                <p>
                    {{ form.Comment.label }}<br>
                    {{ form.Comment(size=32) }}<br>
                </p>
                <p>{{ form.Submit() }}</p>
            </form>
        </div>

    {%endblock%}

    {%block script%}
        <script id = "JournalEntryForm">
        $('#JournalEntryForm').submit(function(e){
            e.preventDefault();
            let formData = new FormData(e.target);
            formData = Object.fromEntries(formData.entries());
            formData.Debits = formData.Debits.replace(/ /g, "");
            formData.Credits = formData.Credits.replace(/ /g, "");
            if (formData.Debits != formData.Credits) {
                alert('Credits must equal debits.');
            } else {
                formData = JSON.stringify(formData);
                $.ajax({
                    url: '{{ api }}/journals/create',
                    type: 'post',
                    data: { 
                        form: formData,
                        sessionUserID: '{{ sessionUser.id }}'
                    }
                })
                .done(function(response){
                    alert(response.message);
                    window.location.href = "/journals";
                })
                .fail(function(response){
                    alert(JSON.parse(response.responseText)['message']);
                });
            }
        });
        </script>
    {%endblock%}

 
 
 