{% if user.usertype == 'administrator' %}
<html>
    <head>
        <title>{{ title }} - AppDomain</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='logo.css')}}" />
    </head>

    <div class = profilePic>
        <img src="{{ g.user.avatarlink }}" />
        <a href = "/users/{{ user.id }}">{{g.user.username}}</a>
    </div>
    
    <body>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/users/{{ user.id }}">Profile</a>
            <a href="/users">Users</a>
            <a href="/sign_out">Sign-Out</a>&emsp;
            
            {% if user.usertype == 'administrator' %}
            Admin: 
            <a href="/users/expired_passwords">Expired Passwords</a>
            <a href="/add-user">Create User</a>
            <a href="/user-mail"> Admin Mail</a>
            {% endif %}
        </div>
        <h1>Enter new user data:</h1>
        <form id="UserCreationForm" action="" method="POST">
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=16) }}<br>
            </p>
            <p>
                {{ form.usertype.label }}<br>
                {{ form.usertype }}<br>
            </p>
            <p>
                {{ form.firstname.label }}<br>
                {{ form.firstname(size=16) }}<br>
            </p>
            <p>
                {{ form.lastname.label }}<br>
                {{ form.lastname(size=16) }}<br>
            </p>
            <p>
                {{ form.avatarlink.label }}<br>
                {{ form.avatarlink(size=16) }}<br>
            </p>
            <p>{{ form.submit() }}</p>
        </form>
        <script type=text/javascript src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script id = "UserCreationScript" data-search={{ api }}>
            var script_tag = document.getElementById("UserCreationScript")
            var api_url = script_tag.getAttribute("data-search")
            $('#UserCreationForm').submit(function(e){
                e.preventDefault();
                $.ajax({
                    url: api_url + '/users/create-user',
                    type: 'post',
                    data:$('#UserCreationForm').serialize(),
                    success: window.setTimeout(function(){
                        alert('User Created!')
                        window.location.href = "{{ url }}/users";
                    })
                });
            });
        </script>
    </body>
</html>
{% else %}
    <html>You are not authorized to create a user.</html>
{% endif %}