{% extends 'base.html' %}

  {%block title%} {{title}} {%endblock%}

    {%block content%}

    <div class="container-fluid ml-1 mb-3 mt-3">
        <table class="table table-striped table-bordered mydatatable" style="width: 100%">
            <p><b>NOTE: </b>0 for an Account Number means the event did not involve an account. Same goes with a session user ID of -1.</p>
            <thead>
                <tr>
                    <th>Event ID</th>
                    <th>Session User ID</th>
                    <th>User ID</th>
                    <th>Account Number</th>
                    <th>Event</th>
                    <th>Amount</th>
                    <th>Timestamp</th>
                </tr>
            </thead>

            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event['EventID'] }}</td>
                    <td>{{ event['SessionUserID'] }}</td>
                    <td>{{ event['UserID'] }}</td>
                    <td>{{ event['AccountNumber'] }}</td>
                    <td>{{ event['Event'] }}</td>
                    <td>${{ "{:,.2f}".format(event['Amount']) }}</td>
                    <td>{{ event['Timestamp'] }}</td>
                </tr>
            {% endfor %}
            </tbody>

            <tfoot>
                <th>Event ID</th>
                <th>Session User ID</th>
                <th>User ID</th>
                <th>Account Number</th>
                <th>Event</th>
                <th>Amount</th>
                <th>Timestamp</th>
            </tfoot>
        </table>
    </div>
    {%endblock%}

    {%block script%}
    <script>
        $('.mydatatable').DataTable({
            order: [[6,'desc']],
            pagingType: 'full_numbers'
        });
    </script>
    {%endblock%}