{% if sessionUser.usertype == 'administrator' %}
{% extends 'base.html' %}

  {%block title%} {{title}} {%endblock%}

    {%block content%}

      <div class= "container float-left">
        {% for user_ in userdata %}
            <div class="pt-2">
                <p><a href="/users/{{ user_.id }}"><img src={{ user_.avatarlink }} width="32" height="32"> Username: {{ user_.username }} | Email: {{ user_.email }} | Usertype: {{ user_.usertype }} | Firstname: {{ user_.firstname }} | Lastname: {{ user_.lastname }}</a></b></p>
            </div>
        {% endfor %}
   {%endblock%}

{% else %}
    <html>You are not authorized to view this page.</html>
{% endif %}