{% extends 'altBase.html' %}

    {%block title%} {{title}} {%endblock%}
    

    {%block content%}

        <nav class="navbar navbar-dark bg-primary">
            <a class="navbar-brand-alt" href="/" style="color:white">
                <img src="{{ url_for('static', filename='logoBlack.png') }}" alt="User Logo" height="80px"/>
                <a  href="/" style="color:white;">Back to Login</a>
              </a>
        </nav>


        <div class= "container float-left">
            <h1>Forgot Password</h1>
            <form id="ForgotPasswordForm" action="" method="POST">
              
                <p> 
                    {{ form.username.label }}<br>
                    {{ form.username(size=16) }}<br>
                </p>
                <p>
                    
                    {{ form.email.label }}<br>
                    {{ form.email(size=16) }}<br>
                   
                    
                </p>
                
                <p>{{ form.submit() }}</p>
            </form>
        </div>
{%endblock%}

{%block script%}
<!--forgot password script-->
<script type=text/javascript src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script id = "ForgotPasswordScript" data-search={{ api }}>
    
    $('#ForgotPasswordForm').submit(function(e){
        e.preventDefault();
        
        $.ajax({
            url: '{{ api }}/forgot_password',
            type: 'post',
            data:$('#ForgotPasswordForm').serialize(),
            error: function(response){
                if (response.status === 200)
                {
                    alert(response.responseText);
                    window.location.href = "/login";
                }
                else
                {
                    alert(response.responseText);
                }
            }
        });
    });
</script>

{%endblock%}
        
