<html>
    <head>
        <title>{{ title }} - AppDomain</title>
    </head>
    
    <body>
        <div class="topnav">
            <a href="/login">Login</a>
        </div>
        <h1>Forgot Password</h1>
        <form id="ForgotPasswordForm" action="" method="POST">
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=16) }}<br>
            </p>
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=16) }}<br>
            </p>
            <p>{{ form.submit() }}</p>
        </form>
        <script type=text/javascript src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script id = "ForgotPasswordScript" data-search={{ api }}>
            
            $('#ForgotPasswordForm').submit(function(e){
                e.preventDefault();
                
                $.ajax({
                    url: '{{ api }}/forgot_password',
                    type: 'post',
                    data:$('#ForgotPasswordForm').serialize(),
                    error: function(response){
                        if (response.status === 200)
                        {
                            alert(response.responseText);
                            window.location.href = "/login";
                        }
                        else
                        {
                            alert(response.responseText);
                        }
                    }
                });
            });
        </script>
    </body>
</html>