<html>
    <head>
        <title>{{ title }} - AppDomain</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='logo.css')}}" />
    </head>

    <div class = profilePic>
        <img src="{{ g.user.avatarlink }}" />
        <a href = "/users/{{ user.id }}">{{g.user.username}}</a>
    </div>

    <body>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/users">Users</a>
            <a href="/add-user">Create User</a>
            <a href="/sign_out">Sign Out</a>
          </div>
        <h1>Hello, {{ g.user.username }}!</h1>
    </body>
</html>