{% extends 'altBase.html' %}
    
    {%block title%} {{title}} {%endblock%}


    {%block content%}
    <section class="Form my-4 mx-5">
      <div class="container">
        <div class="row no-gutters" id ="loginRow">
          <div class="col-lg-5 img1">
            <img class = "img-fluid" src="{{ url_for('static', filename='loginImage.jpg') }}" alt ="Logo">
          </div>
          <div class="col-lg-7 px-5 pt-5 img2">

            <form action="{{ url }}/login/" method="post">
              <div class="form-row">
                <div class ="col-lg-8">
                  <div class="text-center">
                    <img class = "img-fluid" src="{{ url_for('static', filename='logoBlackBar.png') }}"  class ="p-2" />
                    <h4>Sign in</h4>
                  </div>
                  <input type="text" placeholder="Enter Username" name="username" class ="form-control my-3 p-1" required autofocus>
                </div>
                <div class = "col-lg-8">
                  <input type="password" placeholder="Enter Password" name="password" class = "form-control p-1" required>
                </div>

                <div class = "col-lg-8">
                  <button type="submit" class="loginButton form-control my-4 p-2">Login</button>
                </div>
              </div>
              
              <div>
                <a href = "/forgot_password">Forgot Password? | </a>
                <a href = "/new_account/">Create An Account</a>

                <div class="flash" >
                  <p>
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                          {% for message in messages %}
                          <div>
                              <span style="color:red">{{ message }}</span>
                          </div>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
                  </p>
                </div>

              </div>
            </form>

          </div>
        </div>
      </div>
    </section>
    
    {%endblock%}
  