{% extends 'altBase.html' %}

    {%block title%} {{title}} {%endblock%}
    

    {%block content%}

    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand-alt" href="/" style="color:white">
            <img src="{{ url_for('static', filename='logoBlack.png') }}" alt="User Logo" height="80px"/>
            <a  href="/" style="color:white;">Back to Homepage</a>
        </a>
    </nav>

    <div class= "container float-left">
        <h1>Message has been sent</h1>
            <a href = "/">Return home   |   </a>
            <a href = "/user-mail">Send Another Message</a> 
    
    {%endblock%}