{% extends 'altBase.html' %}

{%block title%} {{title}} {%endblock%}

{%block content%}

    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand-alt" href="/" style="color:white">
            <img src="{{ url_for('static', filename='logoBlack.png') }}" alt="User Logo" height="80px"/>
            <a  href="/" style="color:white;">Back to Login</a>
        </a>
    </nav>

    <div class= "container float-left">
        <h2>Enter new user data:</h2>
        <form id="UserCreationForm" action="" method="POST">
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=16) }}<br>
            </p>
            <p>
                {{ form.firstname.label }}<br>
                {{ form.firstname(size=16) }}<br>
            </p>
            <p>
                {{ form.lastname.label }}<br>
                {{ form.lastname(size=16) }}<br>
            </p>
            <p>
                {{ form.avatarlink.label }}<br>
                {{ form.avatarlink(size=16) }}<br>
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=16) }}<br>
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
{%endblock%}

{%block script%}
<script type=text/javascript src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type=text/javascript src="../static/js/CheckPassword.js"></script>
<script id = "UserCreationScript" data-search={{ api }}>
    var script_tag = document.getElementById("UserCreationScript")
    var api_url = script_tag.getAttribute("data-search")

    $('#UserCreationForm').submit(function(e){
        e.preventDefault();
        var form_tag = document.getElementById("UserCreationForm")
        var password = document.getElementById("password").value;
        var error_message = CheckPassword(password)
        if (error_message !== "")
        {
            alert(error_message)
        }
        else
        {
            $.ajax({
                url: api_url + '/users/create-user',
                type: 'post',
                data: {
                    form: $('#UserCreationForm').serialize(),
                    sessionUserID: -1
                },
                headers: {
                    'Access-Control-Allow-Origin': '*' 
                }
            })
            .done(function(){
                alert('User Created!')
                window.location.href = "{{ url }}/login";
            });
        }
    });
</script>
{%endblock%}