<html>
    <head>
        <title>{{ title }} - AppDomain</title>
    </head>
    
    <body>
        <div class="topnav">
            <a href="/login">Login</a>
        </div>
        <h1>Enter new user data:</h1>
        <form id="UserCreationForm" action="" method="POST">
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=16) }}<br>
            </p>
            <p>
                {{ form.firstname.label }}<br>
                {{ form.firstname(size=16) }}<br>
            </p>
            <p>
                {{ form.lastname.label }}<br>
                {{ form.lastname(size=16) }}<br>
            </p>
            <p>
                {{ form.avatarlink.label }}<br>
                {{ form.avatarlink(size=16) }}<br>
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=16) }}<br>
            </p>
            <p>{{ form.submit() }}</p>
        </form>
        <script type=text/javascript src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script id = "UserCreationScript" data-search={{ api }}>
            var script_tag = document.getElementById("UserCreationScript")
            var api_url = script_tag.getAttribute("data-search")
            var special_characters = "!\"#$%&'()*+,-./:;<=>?@[\\]^_`{|}~"
            var passwordLengthRequirement = 8
            $('#UserCreationForm').submit(function(e){
                e.preventDefault();
                var form_tag = document.getElementById("UserCreationForm")
                var password = document.getElementById("password").value
                var passwordMinLength = 8
                error_message = ""
                contains_number = false
                contains_special = false
                if (password.length < 8)
                {
                    error_message += "Password must be at least 8 characters in length!\n"
                }
                if (!isLetter(password[0]))
                {
                    error_message += "Password must begin with a letter!\n"
                }
                for (i = 0; i < password.length; i++)
                {
                    if (Number.isInteger(parseInt(password[i])))
                    {
                        contains_number = true
                        break
                    }
                }
                for (i = 0; i < password.length; i++)
                {
                    if ($.trim(password[i]) == '')
                    {
                        error_message += "Password cannot contain spaces!\n"
                        break
                    }
                }
                
                if (!contains_number)
                {
                    error_message += "Password must contain a number!\n"
                }
                for (i = 0; i < special_characters.length; i++)
                {   
                    if (password.includes(special_characters[i]))
                    {
                        contains_special = true
                        break
                    }
                }
                if (!contains_special)
                {
                    error_message += "Password must contain a special character!\n"
                }

                if (error_message != "")
                {
                    alert(error_message)
                }
                else
                {
                    $.ajax({
                        url: api_url + '/users/new-account',
                        type: 'post',
                        data:$('#UserCreationForm').serialize(),
                        success: window.setTimeout(
                            function(){
                                alert('User Created!')
                                window.location.href = "{{ url }}/login";
                            })
                    });
                }
            });

            function isLetter(str) {
                return str.length === 1 && str.match(/[a-z]/i);
            }
        </script>
    </body>
</html>