<html>
  <head>
    <title>{{ title }} - AppDomain</title>
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/users/{{ user.id }}">Profile</a>
      <a href="/users">Users</a>
      <a href="/users/expired_passwords">Expired Passwords</a>
      <a href="/add-user">Create User</a>
      <a href="/sign_out">Sign-Out</a>
      <a href="/mail"> Send Test Email</a>
  </div>
    <h1>{{ userData.username }}'s Profile</h1> 
    {% if canEdit %}
        <a href="{{ url }}/users/{{ userData.id }}/edit">Edit Profile</a></p>
    {% endif %}
    <p><img src={{ userData.avatarlink }} width="128" height="128"></p>  <!--This should be rewritten with CSS later-->
    {% if active %}
      <p>Status: Active</p>
    {% else -%}
      <p>Status: Inactive</p>
    {% endif %}
    <p>{{ userData.firstname }} {{ userData.lastname }}</p>
    <p>{{ userData.email }}</p>
    <p>{{ userData.usertype }}</p>
  </body>
</html>