{% extends 'base.html' %}

  {%block title%} {{title}} {%endblock%}

    {%block content%}
    <div class="container-fluid">
      <div class="row">
        <div class= "col" style="max-width: fit-content;">
          <h1 class="pt-2">{{ userData.username }}'s Profile</h1> 
          {% if canEdit %}
            <a href="{{ url }}/users/{{ userData.id }}/edit">Edit Profile</a></p>
          {% endif %}
          <div id='profileAvatar' style="border-style: solid; border-color:rgb(0, 0, 0); width: fit-content;">
            <img src={{ userData.avatarlink }} height="240">  
          </div>
          {% if userData.isActive.lower() == 'true' %}
            <p>Status: Active</p>
          {% elif userData.isActive.lower() == 'false' %}
            <p>Status: Inactive until {{ userData.reactivateUserDate }}</p>
          {% endif %}
          <p>{{ userData.firstname }} {{ userData.lastname }} <span>  </span> <a href="/user-mail?userID={{ userData.id }}" <span class="fas fa-envelope" data-toggle="tooltip" data-placement="right" title="Email User"> </span> </a>       </p>
          <p>{{ userData.email }}</p>
          <p>{{ userData.usertype }}</p>
        </div>
        <div class= "col" style="padding: 15px;">
          <table class="table table-striped table-bordered ledgerDataTable" style="width: 100%;">
            <thead>
                <tr>
                  <th id="ledgerHeader" colspan="12">Click on an account to view ledger</th>
                </tr>
                <tr>
                  <th>Timestamp</th>
                  <th>Message</th>
                  <th>PR</th>
                  <th>Debit</th>
                  <th>Credit</th>
                  <th>Balance</th>
                </tr>
            </thead>
        </table>
        </div>
      </div>
    </div>
    <div class="container-fluid" style="padding-bottom: 5px;">
          <h3 class="pt-2">Accounts:</h1>
          <table class="table table-bordered mydatatable hover" style="width: 100%">
              <thead>
                  <tr>
                      <th colspan="6"> Account Details</th>
                      <th colspan="6"> Account Status</th>
                  </tr>
                  <tr>
                      <th>Name</th>
                      <th>Number</th>
                      <th>Description</th>
                      <th>Normal Side</th>
                      <th>Category</th>
                      <th>Subcategory</th>
                      <th>Balance</th>
                      <th>Creation Date</th>
                      <th>AccountOrder</th>
                      <th>Statement</th>
                      <th>Comment</th>
                      <th>Active Status</th>
                      
                  </tr>
              </thead>
  
              <tbody>
              {% if accounts %}
                {% for account in accounts %}
                    <tr style="cursor: pointer;">
                        <td>{{ account.accountName}}</td>
                        <td>{{ account.accountNumber}}</td>
                        <td>{{ account.accountDesc }}</td>
                        <td>{{ account.normalSide }}</td>
                        <td>{{ account.category }}</td>
                        <td>{{ account.subcategory }}</td>
                        <td>${{ "{:,.2f}".format(account.balance) }}</td>
                        <td>{{ account.accountCreationDate }}</td>
                        <td>{{ account.accountOrder }}</td>
                        <td>{{ account.statement }}</td>
                        <td>{{ account.comment }}</td>
                        <td>{{ account.isActive }}</td>
                    </tr>
                {% endfor %}
              {% endif %}
              </tbody>

          </table>
        </div>

    {%endblock%}

    {%block script%}

    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>

    <script>
      $('.mydatatable').DataTable({
          order: [[3,'desc']],
          pagingType: 'full_numbers',
          "columnDefs": [
            { "width": "5%", "targets": 6 },
            { "width": "2%", "targets": 8 }
          ]
      });
      $('.ledgerDataTable').DataTable({
          order: [[0,'desc']],
          scrollY: "225px",
          scrollCollapse: true,
          paging: false,
          "columnDefs": [
            { "width": "5%", "targets": 0 },
            { "width": "65%", "targets": 1 },
            { "width": "1%", "targets": 2 },
            { "width": "1%", "targets": 3 },
            { "width": "1%", "targets": 4 },
          ]
      });
      $('.ledgerDataTable').on('click', 'tbody tr', function() {
        var url = "http://127.0.0.1:5000/journals?Journal_ID=";
        var ledger = $('.ledgerDataTable').DataTable();
        var clickedAccountNumber = ledger.row(this).data()[accountNumberCol = 2];
        url += clickedAccountNumber;
        window.location = url;
      });

      $('.mydatatable').on('click', 'tbody tr', function() {
        var table = $('.mydatatable').DataTable();
        var ledger = $('.ledgerDataTable').DataTable();
        var journalEntries, journalEntriesLength;
        var accountBalances = {{ accountBalances|safe }}
        let temp = {{ journalList|safe }};
        if (temp === "None") {
          journalEntries = null;
          journalEntriesLength = 0;
        }
        else {
          journalEntries = temp;
          journalEntriesLength = journalEntries.length;
        }
        
        ledger.clear().draw();

        var clickedAccountNumber = table.row(this).data()[accountNumberCol = 1];
        
        let i;
        let journalEntriesForClickedAccount = [];
        for (i = 0; i < journalEntriesLength; i++){
          if (journalEntries[i].SourceAccountNumber == clickedAccountNumber || journalEntries[i].DestAccountNumber == clickedAccountNumber) {
            journalEntriesForClickedAccount.push(journalEntries[i]);
          }
        }
        journalEntriesLength = journalEntriesForClickedAccount.length
        document.getElementById("ledgerHeader").innerHTML = "Account " + clickedAccountNumber + " ledger | Balance: $" + accountBalances[clickedAccountNumber];
        var balance = 0;
        for (i = 0; i < journalEntriesLength; i++){
          var sum = 0;
          var isCredit = journalEntriesForClickedAccount[i].SourceAccountNumber == clickedAccountNumber;
          var debit = 0;
          var credit = 0;
          if (isCredit) {
            sum = sumEntries(journalEntriesForClickedAccount[i].Credits);
            credit = sum;
            balance -= credit;
          }
          else {
            sum = sumEntries(journalEntriesForClickedAccount[i].Debits);
            debit = sum;
            balance += debit;
          }
          
          ledger.row.add([
            journalEntriesForClickedAccount[i].Timestamp,
            journalEntriesForClickedAccount[i].Message,
            journalEntriesForClickedAccount[i].Journal_ID,
            '$' + Number(debit).toLocaleString(undefined, { minimumFractionDigits: 2 }),
            '$' + Number(credit).toLocaleString(undefined, { minimumFractionDigits: 2 }),
            '$' + Number(balance).toLocaleString(undefined, { minimumFractionDigits: 2 }),
          ]).draw();
        }
      })
      function sumEntries(entries) {
        let i, sum = 0;
        for (i = 0; i < entries.length; i++) {
          sum += entries[i];
        }
        return sum;
      }
    </script>

    {%endblock%}