{% if user.id == sessionUser.id %}
{% extends 'base.html' %}

  {%block title%} {{title}} {%endblock%}

    {%block content%}

        <div class= "container float-left">
            <h1 class="pt-2">Edit data for {{ user.username }}:</h1>
            <form id="UserUpdatePasswordForm" action="" method="POST">
                <p>
                    {{ form.currentPassword.label }}<br>
                    {{ form.currentPassword(size=16) }}<br>
                </p>
                <p>
                    {{ form.newPassword.label }}<br>
                    {{ form.newPassword(size=16) }}<br>
                </p>
                <p>
                    {{ form.newPasswordVerification.label }}<br>
                    {{ form.newPasswordVerification(size=16) }}<br>
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>

        <script type=text/javascript src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type=text/javascript src="../../../static/js/CheckPassword.js"></script>
        <script id = "UserCreationScript" data-search={{ api }}>
            
            $('#UserUpdatePasswordForm').submit(function(e){
                e.preventDefault();
                var newPassword = document.getElementById("newPassword").value;
                var newPasswordVerification = document.getElementById("newPasswordVerification").value;
                var error_message = CheckPassword(newPassword);
                if (newPassword.localeCompare(newPasswordVerification) !== 0)
                {
                    error_message += "New passwords do not match!"
                }
                if (error_message !== "")
                {
                    alert(error_message)
                }
                else
                {
                    $.ajax({
                        url: '{{ api }}/users/{{ user.id }}/test_new_password',
                        type: 'post',
                        data:$('#UserUpdatePasswordForm').serialize(),
                        error: function(response){
                            alert(response.responseText)
                        }
                    });
                }
            });
        </script>
    {%endblock%}

{% else %}
    <html>You are not authorized to edit this user.</html>
{% endif %}