<html>
    <head>
        <title>{{ title }} - AppDomain</title>
    </head>
    <body>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/users/{{ user.id }}">Profile</a>
            <a href="/users">Users</a>
            <a href="/add-user">Create User</a>
            <a href="/login">Sign-in</a>
            <a href="/sign_out">Sign-Out</a>
            <a href="/mail"> Send Test Email</a>
        </div>
        {% for user_ in userdata %}
        <div>
            <p><a href="/users/{{ user_.id }}"><img src={{ user_.avatarlink }} width="32" height="32"> Username: {{ user_.username }} | Email: {{ user_.email }} | Usertype: {{ user_.usertype }} | Firstname: {{ user_.firstname }} | Lastname: {{ user_.lastname }}</a></b></p>
        </div>
        {% endfor %}
    </body>
</html>