{% if sessionUser.usertype == 'administrator' %}
{% extends 'base.html' %}

  {%block title%} {{title}} {%endblock%}

    {%block content%}

        <div class= "container float-left">
            <h1 class="pt-2"> Admin Email System </h1>
            <form id ="AdminEmailForm" action="{{url_for('send_message')}}" method="POST">
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=16, value=username) }}<span> Type 'all' for all users<br>
                </p>
                <p>
                    {{ form.subject.label }}<br>
                    {{ form.subject(size=16, value=subject) }}<br>
                </p>
                <p>
                    {{ form.message.label }}<br>
                    {{ form.message(cols='45', rows = '15', value = message)}}<br>
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>

    {%endblock%}

{% else %}
    <html>You are not authorized to edit this user.</html>
{% endif %}